

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#page{
    height: 100vh;
}

main
{
    height: 100%;
}

#navbar{
    position: absolute;
}

#map{
   height: 100%; 
   padding-top: 15%;
   position: relative;
}

#pinme-btn{
    position: absolute;
    z-index: 100;
    right: 42vw;
    width: 16vw;
    height: 16vw;
    bottom: 30px;
}
